<h1> Calculators </h1>

<form action="/square_root/results">
  <div>
    <label for="user_number">Enter a number</label>
  </div>

  <div>
    <input type="text" name="num" id="user_number" placeholder="What number do you want to take the square of?">
  </div>

  <button type="submit">
    Calculate square
  </button>
</form>
