<h1> Square </h1>
<form action="/square/results">
  <div>
    <label for="number_input">
      Enter a number
    </label>

    <input id="number_input" text="text" name="num" placeholder="What number do you want to square?">
  </div>

  <button type="submit">
    Calculate square
  </button>
</form>
